<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC4WiMUFM_Iq5VCj9ZQAApe2o0SRYo0fvA</string>
	<key>GCM_SENDER_ID</key>
	<string>762847048407</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.takahiromatsuzaki.Tennis-Connect</string>
	<key>PROJECT_ID</key>
	<string>tennis-connect-3f6bd</string>
	<key>STORAGE_BUCKET</key>
	<string>tennis-connect-3f6bd.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:762847048407:ios:a107333687ed760d34f692</string>
</dict>
</plist>